#headingOne {
  margin-left: 50%;
  margin-left: 99px;
  font-size:128px;
}

#David {
 position: absolute;
 width: 300px;
margin-left: 255px;
}

.DavidIMG {
  position: absolute;
 width: 300px;
margin-left: 255px;
}