#indexH1 {
  font-size: 58px;
  margin-left: 31%;
  padding: 45px;
}
#HomeButton {
  font-size: 28px;
  position: absolute;
  margin-top: 42%;
  margin-left: 90%;
}

#AboutButton {
  font-size: 28px;
  position: absolute;
  margin-top: 42%;
  margin-left: 90%;
}

#ResultsButton {
  font-size: 28px;
  position: absolute;
  margin-top: 40%;
  margin-left: 90%;
}

#userInfo {
  margin-left: 480;
  margin-top: 100;  
}

#instructions {
  margin-top:25px;
  margin-left:36%;
  margin-bottom:25px;
  font-size: 36px; 
}

#instructions>p {
  position: absolute;
    left: 490px;
    top: 265px;
    z-index: -2;
    font-size: 18px;
}
#instructions>p2 {
  position: absolute;
    left: 490px;
    top: 285px;
    z-index: -2;
    font-size: 18px;
}
#instructions>p3 {
  position: absolute;
    left: 490px;
    top: 305px;
    z-index: -2;
    font-size: 18px;
}

#responses>p {
  font-size:48;
  margin-left: 210px;
}
/* display: contents after button is pressed */
#ale {
  
  position: absolute;
    left: 620px;
    top: 255px;
    width: 220px;
    z-index: +1;
}
/* display: contents after button is pressed */
#lager {
  
  position: absolute;
    left: 620px;
    top: 405px;
    width: 220px;
    z-index: +1;
}

#dark {
  position: absolute;
    left: 620px;
    top: 555px;
    width: 220px;
    z-index: +1;

  }
  /* display: contents after button is pressed */
  
  /* Ale picked first */
  
  #hoppy {
    position: absolute;
    left: 620px;
    top: 235px;
    width: 220px;
    z-index: +1; 
  }
  
  #crisp_light {
    position: absolute;
    left: 620px;
    top: 355px;
    width: 220px;
    z-index: +1;
  }

   #warm_malty {
    position: absolute;
    left: 620px;
    top: 475px;
    width: 220px;
    z-index: +1;
  }

  #sour {
  position: absolute;
  left: 620px;
  top: 585px;
  width: 220px;
  z-index: +1; 
  }

/* Lager picked first */ 

#light_crisp {
  position: absolute;
  left: 620px;
  top: 255px;
  width: 220px;
  z-index: +1;
}

#deep_malty {
  position: absolute;
  left: 620px;
  top: 405px;
  width: 220px;
  z-index: +1;  
}

#light_hoppy {
  position: absolute;
  left: 620px;
  top: 555px;
  width: 220px;
  z-index: +1;
}


/* Dark picked first */

#coffee {
  
  position: absolute;
    left: 620px;
    top: 255px;
    width: 260px;
    z-index: +1;
}

#chocolate {
  
  position: absolute;
    left: 620px;
    top: 405px;
    width: 260px;
    z-index: +1;
}





/* ABOUT HTML CSS */

#LindsayIMG {
  width: 200px;;
}